*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main_container{
	width: 100%;
	height: 100%;
	display: flex; 
	align-items: flex-start;
	background-color: #26282c;
}





.header{
	display: flex;
	background-image: url("../assets/pm.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 95%;
	/* margin-left: 8%; */
	align-items: center;
	justify-content: flex-start;
	border-bottom-left-radius: 100px;

}

.header p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.header img{
	display: block;
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
	
}

.logo{
	
		margin: 0 auto;
		margin-bottom: 20px;
	
}

.ProjectInfoContainer{
	height: 640px;
	width: 94%;
	margin-left: 6%;
	border-radius: 20px;
	position: absolute;
	background-color: #edf5f3;
	box-shadow: 2px 3px 8px black;
	top: 135px;
}

.sideBar{
	height: 770px;
	width: 6%;
	background-color: #26282c;
	/* box-shadow: 2px 3px 8px black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.icon{
	margin-top: 40px;
	cursor: pointer;
}

.icon hr{
	color: rgb(39, 38, 38);
	width: 30px;
	height: 1px;
}

.logouticon{
	position: absolute;
	bottom: 40px;
	cursor: pointer;
}



.pName{
	width: 800px;
	height: 70px;
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 20px;
	text-align: left;
	padding-left: 40px;
	padding-bottom: 20px;
	font-size: 16px;
}

.blue_btn{
	background-color: #26282c;
	width: 165px;
	border-radius: 30px;
	height:35px;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin-left: 300px;
}

.project_Inputs{
	display: grid;
  grid-template-columns: 400px 400px 400px;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.project_input{
	width: 350px;
	height: 50px;
	border-radius: 5px;
	margin-left: 30px;
	/* margin-top: 20px; */
	/* margin-right: 200px; */
	padding-left: 20px;
	margin-bottom: 40px;
	border: 1px solid gray;
	/* color: gray; */
	font-size: 15px;
	color: rgb(59, 59, 59);
	text-align: left;
}

label{
	font-size: 14px;
	color: gray;
	margin-left: 40px;
	
}

.project_location{
	/* margin-right: 40px; */
	/* margin-top: 30px; */
	position: absolute;
	right: 265px;
	bottom: 220px;
	width: 350px;
	height: 50px;
	border-radius: 5px;
	/* margin-left: 30px; */
	/* margin-top: 40px;
	padding-left: 20px; */
	/* margin-bottom: 20px; */
	border: 1px solid gray;
	color: rgb(59, 59, 59);
	padding-left: 10px;
	font-size: 16px;

}

.location{
	position: absolute;
	right: 550px;
	bottom: 275px;
}

.status{
	position: absolute;
	right: 480px;
	bottom: 170px;
	color: gray;
}

.status b{
	color: black;
}

.dt{
	/* display: flex; */
	text-align: left;

}



.aknowledgement{
	
	position: absolute;
	left: 500px;
	bottom: 80px;
	color: #4CAF50;
	font-weight: bold;
	font-size: 18px;
}

